*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    outline: none;
}
body{
    height: 100vh;
    width: 100vw;
    background: #e4e4e4;
}
main{

    text-align: center;
    border-radius: 20px;
    background: #f1f1f1;
    box-shadow:  6px 6px 12px #5a5a5a,-6px -6px 12px #ffffff;
    padding: 5vh 2vw;
    margin-left: auto;
    margin-right: auto;
    height: 80vh;
    width: 60vw;
}
#logo{
    max-height: 200px;
}
p{
    padding: 1px;
    color: gray;
}
label{
    color: gray;
}
.inputs{
    padding: 5px 0 ;
}
input{
    box-shadow: inset 2px 2px 5px gray;
    border: none;
    border-radius: 30px;
    background-color: lightgray;
    height:7vh;
    width: 15vw;
}
input:placeholder-shown{
    padding: 0 5vw;
}
#button{
    padding: 5vh;
}
button{
    background: linear-gradient(to right,#00A3FF,#01D1FF);
    border: none;
    border-radius: 30px;
    padding: 3vh 10vw;
    color: white;
    box-shadow: 2px 2px 5px gray;

}
button:hover{
    background:linear-gradient(to right,lime,lightgreen);
    color: black;
}
@media only screen and (max-width: 600px) {
    main{
        height: 80vh;
        width: 90vw;
    }
    input{
        height: 10vh;
        width: 50vw;
    }
    #button{
        padding: 1vh;
    }
    button{
        padding: 4vh 15vw;
    }
}
